In [89]:
import pandas as pd
import numpy as np

In [90]:
df=pd.read_csv("car_crashes.csv")

In [ ]:
df.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

# Data PreProcessing

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total           51 non-null     float64
 1   speeding        51 non-null     float64
 2   alcohol         51 non-null     float64
 3   not_distracted  51 non-null     float64
 4   no_previous     51 non-null     float64
 5   ins_premium     51 non-null     float64
 6   ins_losses      51 non-null     float64
 7   abbrev          51 non-null     object
dtypes: float64(7), object(1)
memory usage: 3.3+ KB

# Check Null Values

In [93]:
df.isnull().sum()

total             0
speeding          0
alcohol           0
not_distracted    0
no_previous       0
ins_premium       0
ins_losses        0
abbrev            0
dtype: int64

###  There is no Null Value in any Column

# Type Conversation

In [94]:
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

# Float convert into integer

In [95]:
def float_into_int(lis):
    for i in lis:
       df[i]= df[i].astype("int64")
    
fl=['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses']
float_into_int(fl)

# check is float convert or not ???

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total           51 non-null     int64
 1   speeding        51 non-null     int64
 2   alcohol         51 non-null     int64
 3   not_distracted  51 non-null     int64
 4   no_previous     51 non-null     int64
 5   ins_premium     51 non-null     int64
 6   ins_losses      51 non-null     int64
 7   abbrev          51 non-null     object
dtypes: int64(7), object(1)
memory usage: 3.3+ KB

# Import label encoder from sklearn for convert object into integer

In [97]:
from sklearn.preprocessing import LabelEncoder

# Convert object into integer

In [98]:
def object_into_int(lis):
    for i in lis:
        data =pd.DataFrame({i:df[i].unique()})
        data_le=LabelEncoder()
        data_le.fit(np.ravel(data))
        df[i]=data_le.transform(df[i])
obj=["abbrev"]
object_into_int(obj)

# Check is obj convert or not???

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total           51 non-null     int64
 1   speeding        51 non-null     int64
 2   alcohol         51 non-null     int64
 3   not_distracted  51 non-null     int64
 4   no_previous     51 non-null     int64
 5   ins_premium     51 non-null     int64
 6   ins_losses      51 non-null     int64
 7   abbrev          51 non-null     int64
dtypes: int64(8)
memory usage: 3.3 KB